@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Sunny_Acxiom.Models.Customer

<h2 class="text-info mb-4">Customer Details</h2>

<div class="card shadow p-4">
    <p><strong>ID:</strong> @Model.Customer_Id</p>
    <p><strong>Name:</strong> @Model.C_Name</p>
    <p><strong>City:</strong> @Model.City</p>
    <p><strong>Phone:</strong> @Model.Phone_Number</p>
    <p><strong>Email:</strong> @Model.C_Email</p>

    <a href="/Customer" class="btn btn-secondary">Back</a>
</div>
